<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>


<!-- Card -->
<div class="container container mt-0 mb-5">
    <hr class="hr1">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/%D7%94%D7%99%D7%9D_%D7%94%D7%A9%D7%A7%D7%95%D7%A3_%22%D7%99%D7%9D_%D7%94%D7%9E%D7%9C%D7%97%22_%D7%99%D7%95%D7%A6%D7%A8_%D7%94%D7%A9%D7%AA%D7%A7%D7%A4%D7%95%D7%AA_%D7%97%D7%9C%D7%A7%D7%94_%D7%A2%D7%9C_%D7%94%D7%A8%D7%99_%D7%99%D7%9D_%D7%94%D7%9E%D7%9C%D7%97.jpg/1200px-%D7%94%D7%99%D7%9D_%D7%94%D7%A9%D7%A7%D7%95%D7%A3_%22%D7%99%D7%9D_%D7%94%D7%9E%D7%9C%D7%97%22_%D7%99%D7%95%D7%A6%D7%A8_%D7%94%D7%A9%D7%AA%D7%A7%D7%A4%D7%95%D7%AA_%D7%97%D7%9C%D7%A7%D7%94_%D7%A2%D7%9C_%D7%94%D7%A8%D7%99_%D7%99%D7%9D_%D7%94%D7%9E%D7%9C%D7%97.jpg"
                    alt="Card image cap" height="300px;" width="100%">
                <div class="card-block p-3">
                    <h1 class="card-title">The Dead-Sea</h1>
                    <h2 class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/%D7%9E%D7%92%D7%93%D7%9C_%D7%93%D7%95%D7%93.jpg/800px-%D7%9E%D7%92%D7%93%D7%9C_%D7%93%D7%95%D7%93.jpg"
                    alt="Card image cap" height="300px;" width="100%">
                <div class="card-block p-3">
                    <h1 class="card-title">Jerusalem</h1>
                    <h2 class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/%D7%A0%D7%9E%D7%9C_%D7%AA%D7%9C_%D7%90%D7%91%D7%99%D7%91_%D7%91%D7%A9%D7%A7%D7%99%D7%A2%D7%94_1.jpg/1200px-%D7%A0%D7%9E%D7%9C_%D7%AA%D7%9C_%D7%90%D7%91%D7%99%D7%91_%D7%91%D7%A9%D7%A7%D7%99%D7%A2%D7%94_1.jpg"
                    alt="Card image cap" height="300px;" width="100%">
                <div class="card-block p-3">
                    <h1 class="card-title">Tel-Aviv</h1>
                    <h2 class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card -->

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Trip Information</h1>
            <hr class="bg-dark w-25 ml-0">
            <h2 class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
            </h2>
            <p class="pl-4">
                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum. desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </p>
            <ul class="list-unstyled pl-4">
                <li>
                    <i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li>
                    <i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li>
                    <i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li>
                    <i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
            </ul>
        </div>


        <form action="" class="conta booking" name="booking">
            <div class="dates" data-type="none">
                
                <label for="checkin">
                    <h2>Check in</h2>
                </label>
                <div class="input-text">
                    <input type="date" value="9 July, 2016" id="checkin">
                </div>

                <label for="checkout">
                    <h2>Check out</h2>
                </label>
                <div class="input-text">
                    <input type="date" value="9 July, 2016" id="checkin">
                </div>

                <div class="div-chck">
                    <input type="checkbox" id="check">
                    <div class="icon input-text"></div>
                    <label for="check" class="checkbox">
                        <h2>Flexible dates</h2>
                    </label>
                </div>
            </div>
            <ul class="persons">
                    <li>
                        <label>class</label>
                        <div class="input-text">
                            <select name="adults">
                                <option value="1" selected="selected">Economy</option>
                                <option value="2">Business</option>
                                <option value="3">First</option>

                            </select>
                            <div class="icon"></div>
                        </div>
                    </li>
                    <li>
                        <label>Hotel Rating</label>
                        <div class="input-text">
                            <select name="children">
                                <option value="0">3</option>
                                <option value="1" selected="selected">4</option>
                                <option value="2">5</option>
                            </select>
                            <div class="icon"></div>
                        </div>
                    </li>
                </ul>
            <ul class="persons">
                <li>
                    <label>Adults</label>
                    <div class="input-text">
                        <select name="adults">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <div class="icon"></div>
                    </div>
                </li>
                <li>
                    <label>Children</label>
                    <div class="input-text">
                        <select name="children">
                            <option value="0">0</option>
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <div class="icon"></div>
                    </div>
                </li>
            </ul>

            <button class="button-big" id="search">
                <div class="icon"></div>Search rooms</button>
        </form>
    </div>
</div>