<table align="center">
    <tr>
    <td>
    <article class="card">
        <div class="card__wrapper">
      
          <figure class="card__feature">
            <img src="https://c.pxhere.com/photos/37/b8/tel_aviv_sunset_dusk_sky_clouds_sea_ocean_seashore-370071.jpg!d" class="card__img" alt="waves" width="275" height="240">
          </figure>
      
          <div class="card__box">
      
            <header class="card__item card__header">
              <h6 class="card__item card__item--small card__label">Featured</h6>
              <h2 class="card__item card__item--small card__title">Tel-Aviv</h2>
            </header>
      
            <hr class="card__item card__divider">
      
            <section class="card__item card__body">
              <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
            </section>
      
          </div>
      
        </div>
      </article>
    </td>
    <td>
            <article class="card">
                <div class="card__wrapper">
              
                  <figure class="card__feature">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Israel-2013%282%29-Jerusalem-View_of_the_Dome_of_the_Rock_%26_Temple_Mount_02.jpg/1200px-Israel-2013%282%29-Jerusalem-View_of_the_Dome_of_the_Rock_%26_Temple_Mount_02.jpg" class="card__img" alt="waves" width="275" height="240">
                  </figure>
              
                  <div class="card__box">
              
                    <header class="card__item card__header">
                      <h6 class="card__item card__item--small card__label">Featured</h6>
                      <h2 class="card__item card__item--small card__title">Jerusalem</h2>
                    </header>
              
                    <hr class="card__item card__divider">
              
                    <section class="card__item card__body">
                      <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                    </section>
              
                  </div>
              
                </div>
              </article>
            </td>
            <td>
                    <article class="card">
                        <div class="card__wrapper">
                      
                          <figure class="card__feature">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Clock_Tower_Jaffa_2.jpg/800px-Clock_Tower_Jaffa_2.jpg" class="card__img" alt="waves" width="275" height="240">
                          </figure>
                      
                          <div class="card__box">
                      
                            <header class="card__item card__header">
                              <h6 class="card__item card__item--small card__label">Featured</h6>
                              <h2 class="card__item card__item--small card__title">jaffo</h2>
                            </header>
                      
                            <hr class="card__item card__divider">
                      
                            <section class="card__item card__body">
                              <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                            </section>
                      
                          </div>
                      
                        </div>
                      </article>
                    </td>
                    <td>
                            <article class="card">
                                <div class="card__wrapper">
                              
                                  <figure class="card__feature">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Dover_tverya20.jpg/800px-Dover_tverya20.jpg" class="card__img" alt="waves" width="275" height="240">
                                  </figure>
                              
                                  <div class="card__box">
                              
                                    <header class="card__item card__header">
                                      <h6 class="card__item card__item--small card__label">Featured</h6>
                                      <h2 class="card__item card__item--small card__title">Tiberias
                                        </h2>
                                    </header>
                              
                                    <hr class="card__item card__divider">
                              
                                    <section class="card__item card__body">
                                      <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                                    </section>
                              
                                  </div>
                              
                                </div>
                              </article>
                            </td>
                        </tr>



                        <tr>
                                <td>
                                <article class="card">
                                    <div class="card__wrapper">
                                  
                                      <figure class="card__feature">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Eilat_by_the_Red_Sea_%287716934936%29.jpg/1280px-Eilat_by_the_Red_Sea_%287716934936%29.jpg" class="card__img" alt="waves" width="275" height="240">
                                      </figure>
                                  
                                      <div class="card__box">
                                  
                                        <header class="card__item card__header">
                                          <h6 class="card__item card__item--small card__label">Featured</h6>
                                          <h2 class="card__item card__item--small card__title">Eilat</h2>
                                        </header>
                                  
                                        <hr class="card__item card__divider">
                                  
                                        <section class="card__item card__body">
                                          <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                                        </section>
                                  
                                      </div>
                                  
                                    </div>
                                  </article>
                                </td>
                                <td>
                                        <article class="card">
                                            <div class="card__wrapper">
                                          
                                              <figure class="card__feature">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/%D7%94%D7%92%D7%9C%D7%99%D7%9C_%D7%94%D7%AA%D7%97%D7%AA%D7%95%D7%9F_-_%D7%91%D7%99%D7%AA_%D7%9C%D7%97%D7%9D_%D7%94%D7%92%D7%9C%D7%99%D7%9C%D7%99%D7%AA_-_%D7%94%D7%9E%D7%AA%D7%97%D7%9D_%D7%94%D7%98%D7%9E%D7%A4%D7%9C%D7%A8%D7%99_%2821%29.JPG/800px-%D7%94%D7%92%D7%9C%D7%99%D7%9C_%D7%94%D7%AA%D7%97%D7%AA%D7%95%D7%9F_-_%D7%91%D7%99%D7%AA_%D7%9C%D7%97%D7%9D_%D7%94%D7%92%D7%9C%D7%99%D7%9C%D7%99%D7%AA_-_%D7%94%D7%9E%D7%AA%D7%97%D7%9D_%D7%94%D7%98%D7%9E%D7%A4%D7%9C%D7%A8%D7%99_%2821%29.JPG" class="card__img" alt="waves" width="275" height="240">
                                              </figure>
                                          
                                              <div class="card__box">
                                          
                                                <header class="card__item card__header">
                                                  <h6 class="card__item card__item--small card__label">Featured</h6>
                                                  <h2 class="card__item card__item--small card__title">Beit-Lehem</h2>
                                                </header>
                                          
                                                <hr class="card__item card__divider">
                                          
                                                <section class="card__item card__body">
                                                  <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                                                </section>
                                          
                                              </div>
                                          
                                            </div>
                                          </article>
                                        </td>
                                        <td>
                                                <article class="card">
                                                    <div class="card__wrapper">
                                                  
                                                      <figure class="card__feature">
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Israel_-_Haifa_-_Bahai_Gardens_004.jpg/800px-Israel_-_Haifa_-_Bahai_Gardens_004.jpg" class="card__img" alt="waves" width="275" height="240">
                                                      </figure>
                                                  
                                                      <div class="card__box">
                                                  
                                                        <header class="card__item card__header">
                                                          <h6 class="card__item card__item--small card__label">Featured</h6>
                                                          <h2 class="card__item card__item--small card__title">Heifa</h2>
                                                        </header>
                                                  
                                                        <hr class="card__item card__divider">
                                                  
                                                        <section class="card__item card__body">
                                                          <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                                                        </section>
                                                  
                                                      </div>
                                                  
                                                    </div>
                                                  </article>
                                                </td>
                                                <td>
                                                        <article class="card">
                                                            <div class="card__wrapper">
                                                          
                                                              <figure class="card__feature">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Israel-2013-Aerial_21-Masada.jpg/800px-Israel-2013-Aerial_21-Masada.jpg" class="card__img" alt="waves" width="275" height="240">
                                                              </figure>
                                                          
                                                              <div class="card__box">
                                                          
                                                                <header class="card__item card__header">
                                                                  <h6 class="card__item card__item--small card__label">Featured</h6>
                                                                  <h2 class="card__item card__item--small card__title">Masada
                                                                    </h2>
                                                                </header>
                                                          
                                                                <hr class="card__item card__divider">
                                                          
                                                                <section class="card__item card__body">
                                                                  <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
                                                                </section>
                                                          
                                                              </div>
                                                          
                                                            </div>
                                                          </article>
                                                        </td>
                                                    </tr>
</table>
