<div class="open">
  <h2>Flights</h2>
  <table align="center">
    <thead>
      <tr>
        <th colspan="2">Departure</th>
        <th rowspan="2">Route</th>
        <th colspan="2">Arrival</th>
        <th rowspan="2">Duration</th>
        <th rowspan="2">Passengers</th>
      </tr>
      <tr>
        <th class="times_sub">Date</th>
        <th class="times_sub">Local Time</th>
        <th class="times_sub">Date</th>
        <th class="times_sub">Local Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23.10.2018</td>
        <td>07:45</td>
        <td>Tel Aviv (LLBG) – Frankfurt (EDDF)</td>
        <td>23.10.2018</td>
        <td>10:45</td>
        <td>04:00</td>
        <td>2</td>
      </tr>
      <tr>
        <td>23.10.2018</td>
        <td>17:45</td>
        <td>Frankfurt (EDDF) - Tel Aviv (LLBG)</td>
        <td>23.10.2018</td>
        <td>22:45</td>
        <td>04:00</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="details">
  <h2>Hotels</h2>
  <table align="center">
    <thead>
      <tr>
        <th colspan="2">Hotel</th>
        <th rowspan="2">Adresse</th>
        <th colspan="2">Room Information</th>
        <th rowspan="2">Number Of rooms</th>
        <th rowspan="2">Duration</th>
      </tr>
      <tr>
        <th class="times_sub">Date</th>
        <th class="times_sub">name</th>
        <th class="times_sub">Adult</th>
        <th class="times_sub">Kids</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23.10.2018</td>
        <td>Dan</td>
        <td>Africa Boulevard 36, Tiberias</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>4</td>
      </tr>
      <tr>
        <td>27.10.2018</td>
        <td>Hilton</td>
        <td>Good day 97/2, Jerusalem</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>29.10.2018</td>
        <td>Sheraton</td>
        <td>Rothschild 77, Tel Aviv</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>

<section class="details">
  <h2>Trip Details</h2>
  <table class="trip-details">
    <thead>
      <tr>
        <th colspan="2">Tiberias</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="" width="20%">Central sites</th>
        <td>At: 06:15 driver will standby at 26 Tavor St.
          <br/> To: Massada Lounge Ben Gurion airport</td>
      </tr>
      <tr>
        <th class="">Main restaurants</th>
        <td>07:00 @ 23.10.18
          <br/>
          <small>(45 min. before departure)</small>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section class="details">
  <table class="trip-details">
    <thead>
      <tr>
        <th colspan="2">Jerusalem</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="" width="20%">Central sites</th>
        <td>At: 06:15 driver will standby at 26 Tavor St.
          <br/> To: Massada Lounge Ben Gurion airport</td>
      </tr>
      <tr>
        <th class="">Main restaurants</th>
        <td>07:00 @ 23.10.18
          <br/>
          <small>(45 min. before departure)</small>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section class="details">
  <table class="trip-details">
    <thead>
      <tr>
        <th colspan="2">Tel-Aviv</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="" width="20%">Central sites</th>
        <td>By your drivers</td>
      </tr>
      <tr>
        <th class="">Main restaurants</th>
        <td>17:15 @ 23.10.18
          <br/>
          <small>(30 min. before departure)</small>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="details">
  <h2>Car</h2>
  <table align="center">
    <thead>
      <tr>
        <th colspan="2">Car</th>
        <th rowspan="2"></th>
        <th colspan="2"></th>
        <th rowspan="2">Departure Date</th>
        <th rowspan="2">Duration</th>
      </tr>
      <tr>
        <th class="times_sub"></th>
        <th class="times_sub">Car type</th>
        <th class="times_sub"></th>
        <th class="times_sub"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="radio" name="gender" value="male">
          <br>
        </td>
        <td>Private</td>
        <td>Private Car For 4 Passenger</td>
        <td></td>
        <td></td>
        <td>23.1.2018</td>
        <td>9</td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="gender" value="male">
          <br>
        </td>
        <td>Station</td>
        <td>Station Car For 7 Passenger</td>
        <td></td>
        <td></td>
        <td>23.1.2018</td>
        <td>9</td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="gender" value="male">
          <br>
        </td>
        <td>SUV</td>
        <td>SUV For 5 Passenger</td>
        <td></td>
        <td></td>
        <td>23.1.2018</td>
        <td>9</td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="gender" value="male">
          <br>
        </td>
        <td>SUV</td>
        <td>SUV For 7 Passenger</td>
        <td></td>
        <td></td>
        <td>23.1.2018</td>
        <td>9</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="details2">
  <h2>Summary</h2>
  <table align="center">
    <thead>
      <tr>
        <th colspan="2">Departure</th>
        <th rowspan="2">Cost</th>
        <th rowspan="2">car</th>
        <th rowspan="2">Total</th>
        <th rowspan="2">Submit</th>
      </tr>
      <tr>
        <th class="times_sub">Date</th>
        <th class="times_sub">Number Of Passenger</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23.10.2018</td>
        <td>2</td>
        <td>899$</td>
        <td>Private</td>
        <td>1099$</td>
        <td><button>Submit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!--div class="flights">
  <table align="center">
    <tr>
      <th>Flight</th>
      <th>Date</th>
      <th>Airport</th>
      <th>Time</th>
      <th>Flight Information</th>
      <th>Flight class</th>
      <th>Flight number</th>
    </tr>
    <tr>
      <td>El-Al</td>
      <td>25/5/2019</td>
      <td>UCL</td>
      <td>08:00</td>
      <td>Direct Flight</td>
      <td>A</td>
      <td>422</td>
    </tr>
    <tr>
      <td>El-Al</td>
      <td>5/6/2019</td>
      <td>BGA</td>
      <td>09:30</td>
      <td>Direct Flight</td>
      <td>A</td>
      <td>487</td>
    </tr>
  </table>
</div>

<div class="hotels">
  <table align="center">
    <tr>
      <th>Flight</th>
      <th>Date</th>
      <th>Airport</th>
      <th>Time</th>
      <th>Flight Information</th>
      <th>Flight class</th>
      <th>Flight number</th>
    </tr>
    <tr>
      <td>El-Al</td>
      <td>25/5/2019</td>
      <td>UCL</td>
      <td>08:00</td>
      <td>Direct Flight</td>
      <td>A</td>
      <td>422</td>
    </tr>
    <tr>
      <td>El-Al</td>
      <td>5/6/2019</td>
      <td>BGA</td>
      <td>09:30</td>
      <td>Direct Flight</td>
      <td>A</td>
      <td>487</td>
    </tr>
  </table>
</div>

<div class="car">
  <table align="center" class="cartable">
    <tr>
      <td>
        <input type="radio" name="gender" value="male"> Male</td>
      <td>
        <img src="https://cdn3.iconfinder.com/data/icons/transport-02-set-of-vehicles-and-cars/110/Vehicles_and_cars_23-512.png">
      </td>
      <td>25/5/2019</td>
      <td>UCL</td>
      <td>08:00</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="gender" value="female"> Female</td>
      <td>
        <img src="https://cdn4.iconfinder.com/data/icons/cars-8/100/mercedes_g_wagon_v2-512.png">
      </td>
      <td>5/6/2019</td>
      <td>BGA</td>
      <td>09:30</td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="gender" value="other"> Other</td>
      <td>
        <img src="https://www.freeiconspng.com/uploads/bus-icon-27.png">
      </td>
      <td>5/6/2019</td>
      <td>BGA</td>
      <td>09:30</td>
    </tr>
  </table>
</div-->