<table>
		<thead>
		  <tr>
			<th scope="col"></th>
			<th scope="col">Company</th>
			<th scope="col">From</th>
			<th scope="col">Destination</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td scope="row">Flight</td>
			<td>EL-AL</td>
			<td>Chiqago</td>
			<td>Tel-Aviv</td>
		  </tr>
		  <tr>
			<td scope="row">Car</td>
			<td>Shlomo Sixt</td>
			<td>Tel-Aviv</td>
			<td>Natbag</td>
			</tr>
			<tr>
			<td scope="row">Hotel</td>
			<td>Fatal</td>
			<td>Dead-Sea</td>
			<td>Harav-Igal 54/2</td>
		  </tr>
		  <tr>
			<td scope="row">Hotel</td>
			<td>Fatal</td>
			<td>Jerusalem</td>
			<td>toram 27</td>
		  </tr>
		  <tr>
			<td scope="row">Hotel</td>
			<td>Isrotel</td>
			<td>Tel-Aviv</td>
			<td>Rotchild 22</td>
		  </tr>
		  <tr>
			<td scope="row">Flight</td>
			<td>Luftanza</td>
			<td>Tel-Aviv</td>
			<td>Chiqago</td>
		  </tr>
		</tbody>
	  </table>