<div class='div1'>
        <form action="/action_page.php">
          <table width="100%">
            <tr>
              <td colspan="2">
                <label for="fname">From:&nbsp;</label>
                <input type="text" id="fname" name="firstname" placeholder="Your City">
              </td>

            </tr>
            <tr>
              <td>
                <label for="lname">Departs:</label>
                <br>
                <input type="date" id="lname" name="lastname" placeholder="Your last name..">
              </td>
              <td>
                <label for="lname">Return:</label>
                <br>
                <input type="date" id="lname" name="lastname" placeholder="Your last name..">
              </td>
            </tr>
            <tr>
              <td>
                <label>Adults</label>
                <div class="input-text">
                  <select name="adults">
                    <option value="1">1</option>
                    <option value="2" selected="selected">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                  <div class="icon"></div>
                </div>
              </td>
              <td>
                <label>Children</label>
                <div class="input-text">
                  <select name="children">
                    <option value="0">0</option>
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                  <div class="icon"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                  <input type="submit" value="Submit">
              </td>
            </tr>
          </table>
        </form>
      </div>