<table>
  <td>
      <div class="container">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
            crossorigin="anonymous">
          <div class="row">
            <!-- Contenedor Principal -->
            <div class="comments-container">
              <ul id="comments-list" class="comments-list">
                <li>
        
                </li>
        
                <li>
                  <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar">
                      <img src=" ./assets/img/123.jpg" alt="">
                    </div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-name">
                          <a href="http://creaticode.com/blog">Lorena Rojero</a>
                        </h6>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                      </div>
                      <div class="comment-content">
                        Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </td>
  <td>
      <div class="container">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
            crossorigin="anonymous">
          <div class="row">
            <!-- Contenedor Principal -->
            <div class="comments-container">
              <ul id="comments-list" class="comments-list">
                <li>
        
                </li>
        
                <li>
                  <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar">
                      <img src="./assets/img/14907625_10211516167170282_2203847275834483537_n.jpg" alt="">
                    </div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-name">
                          <a href="http://creaticode.com/blog">Lorena Rojero</a>
                        </h6>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                        <i class="fa fa-star" style="color:#cfb87c; font-size:15px;"></i>
                      </div>
                      <div class="comment-content">
                          Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development. Web programming refers to the writing, markup and coding involved in Web development.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </td>
</table>
