<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
        <div class="promo">
          <p>Travel To Israel</p>
          <h1>VISIT THE HOLY LAND</h1>
          <div class="flight-engine">
                <div class="container">
                   <div class="tabing">
                      <div class="tab-content">
                         <div id="1" class="tab1 active">
                            <div class="flight-tab row">
                                <div class="persent-one less-per">
                                   <i class="fa fa-calendar" aria-hidden="true"></i>
                                   <input type="date" name="dep" class="textboxstyle" id="from-date1">
                                </div>
                                <div class="persent-one less-per">
                                   <i class="fa fa-calendar" aria-hidden="true"></i>
                                   <input type="date" name="dep" class="textboxstyle" id="to-date">
                                </div>
                               <div class="persent-one">
                                  <i class="fa fa-male" aria-hidden="true"></i>
                                  <select name="dep" class="textboxstyle" id="dep">
                                        <option value="">Number Of Adults</option>
                                        <option value="Adults1">1 Adults</option>
                                        <option value="Adults2">2 Adults</option>
                                        <option value="Adults3">3 Adults</option>
                                        <option value="Adults4">4 Adults</option>
                                        <option value="Adults5">5 Adults</option>
                                        <option value="Adults6">6 Adults</option>
                                        <option value="Adults7">7 Adults</option>
                                        <option value="Adults8">8 Adults</option>
                                  </select>
                               </div>
                               <div class="persent-one">
                                  <i class="fa fa-child" aria-hidden="true"></i>
                                    <select name="dep" class="textboxstyle" id="arival" >
                                        <option value="">Number Of Childrens</option>
                                        <option value="Children1">1 Children</option>
                                        <option value="Childrens2">2 Childrens</option>
                                        <option value="Childrens3">3 Childrens</option>
                                        <option value="Childrens4">4 Childrens</option>
                                        <option value="Childrens5">5 Childrens</option>
                                        <option value="Childrens6">6 Childrens</option>
                                        <option value="Childrens7">7 Childrens</option>
                                        <option value="Childrens8">8 Childrens</option>
                                  </select>
                                </div>
                              
                            
                               <div class="persent-one less-btn">
                                  <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                               </div>
                            </div>
                            <!-- flight tab -->
                         </div>
                         <!-- tab 1 -->
                          <div id="2" class="tab1">
                            <div class="flight-tab row">
                               <div class="persent-one">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
                               </div>
                               <div class="persent-one">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                               </div>
                               <div class="persent-one less-per">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                               </div>
                               <div class="persent-one less-per">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
                               </div>
                               <div class="persent-one">
                                  <i class="fa fa-user" aria-hidden="true"></i>
                                  <div class="textboxstyle" id="passenger">01 Passenger</div>
                               </div>
                               <div class="persent-one less-btn">
                                  <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                               </div>
                            </div>
                            <!-- flight tab -->
                         </div>
                         <!-- tab 1 -->
                      </div>
                      </div>
                      <!-- tab content -->
                   </div>
                   <!-- tabbing -->
                </div>                
             </div>
        </header>
        