<div class="page">
        <div class="card">
          <div class="container">
            <div class="menu">
              <h3>About Us.</h3>
              <i class="fas fa-bars"></i>
            </div>
            <div class="content">
              <div class="text">
                <h1>Let's discover Israel<br>With IsraelFly.</h1>
                <p>We specialize in tours to Ireland but are always expanding and enhancing our wide range of offers, as well as adding new and exciting tours of Britain, Italy, Eastern Europe, Mexico and the Caribbean.
                        A family-owned business based in Boston, Crystal Travel was founded in 1985 by Jim & Teresa Kelly and since that humble beginning it has grown into a trusted resource that has helped tens of thousands of people better enjoy their travel.
                </p>
              </div>  
            </div>
          </div>
          <div class="photo"></div>
        </div>
      </div>