<table align="center">
  <tr>
    <td>
      <a href="/tel-aviv">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://c.pxhere.com/photos/37/b8/tel_aviv_sunset_dusk_sky_clouds_sea_ocean_seashore-370071.jpg!d" class="card__img"
                alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Tel-Aviv</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/jerusalem">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://cdn.vox-cdn.com/uploads/chorus_image/image/62359698/shutterstock_656752000.0.jpg"
                class="card__img" alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Jerusalem</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/jaffo">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Clock_Tower_Jaffa_2.jpg/800px-Clock_Tower_Jaffa_2.jpg"
                class="card__img" alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">jaffo</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/tiberias">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Dover_tverya20.jpg/800px-Dover_tverya20.jpg" class="card__img"
                alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Tiberias
                </h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/eilat">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Eilat_by_the_Red_Sea_%287716934936%29.jpg/1280px-Eilat_by_the_Red_Sea_%287716934936%29.jpg"
                class="card__img" alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Eilat</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/dead-sea">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Dead_sea%2C_Ein_Gedi_beach.JPG" class="card__img" alt="waves"
                width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Dead-Sea</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/heifa">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Israel_-_Haifa_-_Bahai_Gardens_004.jpg/800px-Israel_-_Haifa_-_Bahai_Gardens_004.jpg"
                class="card__img" alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Heifa</h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
    <td>
      <a href="/masada">
        <article class="card">
          <div class="card__wrapper">

            <figure class="card__feature">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Israel-2013-Aerial_21-Masada.jpg/800px-Israel-2013-Aerial_21-Masada.jpg"
                class="card__img" alt="waves" width="275" height="240">
            </figure>

            <div class="card__box">

              <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>
                <h2 class="card__item card__item--small card__title">Masada
                </h2>
              </header>

              <hr class="card__item card__divider">

              <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
              </section>

            </div>

          </div>
        </article>
      </a>
    </td>
  </tr>
</table>