<table align="center">
    <td>
        <a href="/trip-one">
            <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                <div class="container">
                    <div class="topleft">
                        <h4 class="ff-serif  mt-0 mb-0">From 749 USD</h4>
                    </div>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/PikiWiki_Israel_10475_Herod_palace_at_Masada.jpg/800px-PikiWiki_Israel_10475_Herod_palace_at_Masada.jpg"
                    height="270px" class="d-block w-full">
                <div class="px-2 py-2">
                    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                        Planning your final summer trip
                    </h1>
                    <p class="mb-1">
                        Summer is coming to a close just around the corner. But it's not too late to squeeze in another weekend trip &hellip;
                    </p>
                </div>
                <a href="/trip-one" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                    Read More
                </a>
            </div>
        </a>
    </td>
    <td>
        <a href="/trip-two">
            <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                <div class="container">
                    <div class="topleft">
                        <h4 class="ff-serif  mt-0 mb-0">From 749 USD</h4>
                    </div>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/%D7%94%D7%9B%D7%A0%D7%A8%D7%AA_%D7%9E%D7%9E%D7%A2%D7%95%D7%A3_%D7%94%D7%A6%D7%99%D7%A4%D7%95%D7%A8.jpg/1920px-%D7%94%D7%9B%D7%A0%D7%A8%D7%AA_%D7%9E%D7%9E%D7%A2%D7%95%D7%A3_%D7%94%D7%A6%D7%99%D7%A4%D7%95%D7%A8.jpg"
                    height="270px" class="d-block w-full">
                <div class="px-2 py-2">
                    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                        Planning your final summer trip
                    </h1>
                    <p class="mb-1">
                        Summer is coming to a close just around the corner. But it's not too late to squeeze in another weekend trip &hellip;
                    </p>
                </div>
                <a href="/trip-two" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                    Read More
                </a>
            </div>
        </a>
    </td>
    <td>
        <a href="/trip-three">
            <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                <div class="container">
                    <div class="topleft">
                        <h4 class="ff-serif  mt-0 mb-0">From 749 USD</h4>
                    </div>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/OLD_JAFFA_PORT.jpg/800px-OLD_JAFFA_PORT.jpg" height="270px"
                    class="d-block w-full">
                <div class="px-2 py-2">
                    <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                        Planning your final summer trip
                    </h1>
                    <p class="mb-1">
                        Summer is coming to a close just around the corner. But it's not too late to squeeze in another weekend trip &hellip;
                    </p>
                </div>
                <a href="/trip-three" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                    Read More
                </a>
            </div>
        </a>
    </td>
</table>